@import 'variables';

.comment-menu {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
}

.comment-menu__select-bg ::ng-deep .mat-select-value {
  direction: ltr;
  text-align: left;
}

.comment-menu__select-bg--rtl ::ng-deep .mat-select-value {
  direction: rtl;
  text-align: right;
}

//отдельно поскольку это на cdk-overlay
.comment-menu__option ::ng-deep .mat-option-text {
  direction: ltr;
  text-align: left;
}

.comment-menu__option--rtl ::ng-deep .mat-option-text {
  direction: rtl;
  text-align: right;
}

.comment-menu__field--sm ::ng-deep .mat-form-field-infix {
  width: 100px;
}

.comment-menu__field--bg ::ng-deep .mat-form-field-infix {
  width: 150px;
}

@media ($tablet-width) {
  .comment-menu {
    max-width: 500px;
  }

  .comment-menu__field--sm ::ng-deep .mat-form-field-infix {
    width: 115px;
  }

  .comment-menu__field--bg ::ng-deep .mat-form-field-infix {
    width: 330px;
  }
}
