@use 'sass:map';
@use '~@angular/material' as mat;
@use 'variables' as var;

@mixin color($color-config) {
  $primary:  map.get($color-config, 'primary');
  $accent:  map.get($color-config, 'accent');

  .global-link--primary {
    color: inherit;

    &:hover {
      color: rgba(mat.get-color-from-palette($primary, default-contrast), 0.8);
    }

    &:active {
      color: rgba(mat.get-color-from-palette($primary, default-contrast), 0.7);
    }
  }

  .global-link--accent {
    color: inherit;

    &:hover {
      color: rgba(mat.get-color-from-palette($accent, default-contrast), 0.7);
    }

    &:active {
      color: rgba(mat.get-color-from-palette($accent, default-contrast), 0.5);
    }
  }
}
