<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="header__row header__row--first mat-elevation-z6">
    <button class="header__menu-icon"
            mat-icon-button
            (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="header__logo global-link--primary"
       routerLink="about">{{title}}
    </a>
    <div class="header__spacer-1"></div>
    <app-main-menu [mainMenuItems]="menuItems"
                   *ngIf="isDesktop$ | async"></app-main-menu>
    <div class="header__spacer-2"></div>
    <app-language-menu></app-language-menu>
    <div class="header__spacer-3"></div>
  </mat-toolbar-row>
  <mat-toolbar-row class="header__row header__row--second mat-elevation-z1"
                   appSimpleBar
                   *ngIf="!(isDesktop$ | async)">
    <app-sub-menu [subMenuItems]="menuItems"></app-sub-menu>
  </mat-toolbar-row>
</mat-toolbar>
