@use 'mixins';
@use 'variables' as var;

.lessons {
  margin-top: 60px;
  padding: 3px;
}

.lesson {
  margin-bottom: 40px;
}

.lesson__sub-chunk {
  margin-right: 4px;
}
@media (var.$tablet-width) {
  .lessons {
    margin-top: 65px;
  }
}
