<nav class="comment__menu">
  <mat-form-field>
    <mat-label>Language</mat-label>
    <mat-select [value]="commentService.langMenuLanguage"
                (selectionChange)="onLangMenuSelect($event.value)"
    >
      <mat-option *ngFor="let item of commentService.langMenu"
                  [value]="item.langId">{{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Переводы</mat-label>
    <mat-select [value]="commentService.commentsMenu[0].id"
                (selectionChange)="onCommentsMenuSelect($event.value)">
      <mat-option *ngFor="let comment of commentService.commentsMenu"
                  [value]="comment.id">{{comment.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</nav>

<section class="comment__content">{{commentService.comment}}</section>
