@import 'variables.scss';

:host {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.7);
  z-index: $loading;
}
