<mat-sidenav-container [dir]="bookService.dir">
  <mat-sidenav
    #sidenav
    role="navigation"
    [autoFocus]="false">
    <app-sidenav-list (closeSidenav)="sidenav.close()">
    </app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()">
    </app-header>
    <div class="book__content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading *ngIf="isLoading$ | async"
             [appInterfaceDisabled]="true"></app-loading>
