mat-sidenav-container {
  height: calc(100% - 64px);
}

mat-sidenav {
  width: 260px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

// прижать футеp к низу
.router-wrapper {
  flex-grow: 1;
}
