@use 'variables' as var;

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 260px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

// прижать футеp к низу
.book__content {
  flex-grow: 1;
  padding: 0 16px;
  margin-bottom: 48px;
}

@media (var.$tablet-width) {
  .book__content {
    padding: 0 24px;
  }
}

@media (var.$desktop-width) {
  .book__content  {
    margin-top: 64px + 72px;
    padding: 0 32px;

    margin-bottom: 72px;
  }
}
