@use 'sass:map';
@use '~@angular/material' as mat;
@use 'variables' as var;

@mixin color($color-config) {
  $primary:  map.get($color-config, 'primary');

  .mainmenu__line--color:after {
    background-color: mat.get-color-from-palette($primary, default-contrast);
  }
}

@mixin typography($config) {
  .mainmenu__link {
    font-size: mat.font-size($config, 'subheading-2');
  }
}
