@import '~@angular/material/theming';
@import 'variables';

@mixin main-menu-theme($theme) {
  $primary: map-get($theme, primary);

  .mainmenu__line--color:after {
    background-color: mat-color($primary, default-contrast);
  }
}

@mixin main-menu-typography($config) {
  .mainmenu__link {
    font-size: mat-font-size($config, subheading-2);
  }
}
