@use 'variables' as var;

.article-content__block {
  position: relative;
  padding-left: 12px;
  margin-bottom: 24px;
}

.article-content__line {
  position: absolute;
  top: 3px;
  left: 0;
  height: calc(100% - 5px);
  width: 2px;
}

@media (var.$tablet-width) {
  .article-content__block {
    padding-left: 20px;
    margin-bottom: 32px;
  }

  .article-content__line {
    width: 4px;
  }
}
