@import 'variables';

.article-content__block {
  position: relative;
  padding-left: 12px;
  margin-bottom: 20px;
}

.article-content__line {
  position: absolute;
  top: 5px;
  left: 0;
  height: calc(100% - 9px);
  width: 2px;
}

@media ($tablet-width) {
  .article-content__block {
    padding-left: 20px;
    margin-bottom: 28px;
  }

  .article-content__line {
    width: 4px;
  }
}
