@use 'variables' as var;

.footer {
  min-height: 48px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__item {
  margin: 0;
}

.footer__link {
  text-decoration: none;
}

@media (var.$tablet-width) {
  .footer {
    min-height: 56px;
    padding: 0 24px;
  }
}

@media (var.$desktop-width) {
  .footer {
    padding: 0 32px;
  }
}
