@use 'sass:map';
@use '~@angular/material' as mat;
@use 'variables' as var;

@mixin color($color-config) {
  $foreground: map.get($color-config, foreground);

  .author__img {
    border-color: mat.get-color-from-palette($foreground, divider);
  }

  .author__icon {
    fill: mat.get-color-from-palette($foreground, icons);
  }
}

@mixin typography($config) {

  @media (var.$tablet-width) {
  }
}
