@import '~@angular/material/theming';

:host ::ng-deep .mat-list-base .mat-list-item {
  height: auto;
  margin-bottom: 2px;

  & .mat-list-item-content {
    padding: 14px 20px;
  }

  &.nav__item--active {
    cursor: default;
  }
}

// возможно лочичнее стилизовать .nav__title
:host ::ng-deep .mat-expansion-panel-header {
  padding: 0 20px;

  //line-height: 20px;

  &::ng-deep .mat-content {
    padding-right: 8px;
  }
}

.nav__group ::ng-deep .mat-list-base {
  padding-top: 0;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0;
}


