@use './theme/fonts.scss';
@use './theme/simplebar.css';

@use '~@angular/material' as mat;
@use './theme/custom-component-themes.scss' as custom;

@include mat.core();

$primary: mat.define-palette(mat.$deep-purple-palette, 500);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.define-typography-config()
));

@include mat.all-component-themes($theme);
$color-config: mat.get-color-config($theme);
$typo-config: mat.get-typography-config($theme);
$typo-config-he: mat.define-typography-config($font-family: 'Rubik');

@include custom.components-color($color-config);
@include custom.components-typography($typo-config);


/* You can add global styles to this file, and also import other style files */
.material-icons {
  font-family: 'Material Icons', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.he-theme {
  @include mat.list-typography($typo-config-he);
  @include mat.button-typography($typo-config-he);
  @include mat.menu-typography($typo-config-he);
  @include mat.tabs-typography($typo-config-he);

  @include custom.components-typography($typo-config-he);
}

@include custom.two-lang-components-typography($typo-config, $typo-config-he);

.overflow-y {
  overflow-y: scroll;
}


