@use 'sass:map';
@use '~@angular/material' as mat;
@use 'variables' as var;

@mixin color($color-config) {
  $background: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  .article-menu__card, .article-menu__item {
    background: mat.get-color-from-palette($background, card);
    color: mat.get-color-from-palette($foreground, text);
  }

  .article-menu__list,
  .article-menu__item {
    border-color: mat.get-color-from-palette($foreground, divider);
  }

  .article-menu__item.cdk-drag-preview {
    @include mat.overridable-elevation(4);
  }
}

@mixin typography($config) {
  .article-menu__title {
    @include mat.typography-level($config, 'subheading-2');
    font-weight: 500;
  }

  .article-menu__tip {
    @include mat.typography-level($config, 'caption');
  }

  .article-menu__item {
    @include mat.typography-level($config, 'body-1');
  }

  @media (var.$tablet-width) {
    .article-menu__title {
      @include mat.typography-level($config, 'title');
    }
  }
}
